body {
	font-family: "Fjalla One", sans-serif;
	background-color: #0a0a0a;
	color: whitesmoke;
	margin: 0;
	padding: 0;
}

.navbar--div {
	width: 100%;
}

.navbar--list {
	list-style-type: none;
	display: flex;
	justify-content: center;
	
}

.navbar--items {
	padding-left: 6px;
	padding-right: 6px;
	
}

a {
	margin: 0;
	font-size: 50px;
	color: whitesmoke;
	text-decoration: none;
}

a:hover {
	color: #5c7860;
}

.slash::before,
.slash::after {
	content: "/";
	color: #5c7860;
}

.home--div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.home--middle {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home--name {
	font-size: 21px;
}

.home--title {
	color: #5c7860;
	font-size: 21px;
}
